{% extends 'base.html'%}


{% block content %}



<div class="container text-right my-5" >
    <p></p>
            <h4 class="text-center">باستخدام موقعنا، فإنك تؤكد قبولك بشروط الاستخدام هذه والموافقة على الامتثال لما تتضمنه من أحكام.</h4>
            في حال كنت لا توافق على هذه الشروط فلا يحق لك استخدام موقعنا<br>
            <h5>
                <br>
            التغييرات في الشروط
                <br>
            </h5>
            لدينا حق تعديل هذه الشروط في أي وقت من خلال تعديل هذه الصفحة.
            يرجى مراجعة هذه الصفحة من وقت لآخر للاطلاع على أي تعديلات جديدة فهي ملزمة لكم.
            <h5>
                <br>
            التعديلات في الموقع
                <br>
            </h5>
            قد نقوم بتحديث محتوى موقعنا من حين لآخر. لذا يرجى ملاحظة أن أي جزء من محتويات الموقع قد يصبح قديما في أي وقت، ونحن غير ملزمين بتحديثه مطلقا. }
            كما لا نضمن خلو موقعنا أو أي جزء من محتوياته من الخطأ أو السهو.
            <h5><br>
            الحساب وكلمة المرور
            </h5><br>
            يرجى المحافظة على بيانات الدخول وعدم افشائها لاي طرف اخر ولا يتحمل الموقع اي مسؤولية لذلك.
            لدينا الصلاحية في تعطيل أي حساب مستخدم أو كلمة مرور، سواء تم اختيارها من قبلكم  في أي وقت؛ حين نرى أنكم قد فشلتم في التقيد بأحد شروط الاستخدام وأحكامه.
            <h5><br>
            الدخول لموقعنا
            </h5><br>
            لا نضمن دوام استمرارية وإتاحة موقعنا أو جزءًا من محتواه. استخدامكم لموقعنا يُعتبر استخدامًا مؤقتًا؛ حيث يحق لنا تعليق أو حجب أو إيقاف أو تغيير كل أو جزء من موقعنا بدون إشعار مسبق. نُخلي مسؤوليتنا من عدم إتاحة موقعنا لأي سباب وفي أي وقت.
            إنك مسؤول عن كافة إجرائات الدخول اللازمة الموقع.
            يتحمل المستخدم مسؤولية ضمان إحاطة وإمتثال جميع مستخدمي الموقع عبر اتصال الإنترنت الخاص به بشروط الاستخدام والأحكام المطبقة الأخرى.
            صُمم موقعنا للإستخدام داخل المملكة العربية السعودية ولا نضمن توفرمحتوى موقعنا في أماكن أخرى. يحق لنا الحد من توفير موقعنا وتقنين خدماته فيما يخص أي شخص في أي وقت كان. يتحمل المستخدم كامل مسؤولية دخوله لموقعنا من خارج المملكة.

            نحن لا نتحمل مسؤولية مواجهة أي مستخدم بشأن أية خسارة أو ضرر، سواء من الناحية التعاقدية أو المسؤولية التقصيرية (بما في ذلك الإهمال)، أو الإخلال بالواجب القانوني أو خلاف ذلك، حتى لو كان متوقعًا وناشئًا بموجب أو فيما يتعلق بما يلي:<br>
            استخدام موقعنا أو عدم القدرة على استخدامه؛ أو
            استخدام محتوى موقعنا أو الاعتماد عليه.
            لن نتحمل أي خسارة أو ضرر ناجم عن الفيروسات أو هجمات الحرمان من الخدمة أو المواد الأخرى الضارة التي قد تؤثر على جهازك الحاسوب أو برامجه تقنيا أو البيانات والمواد الأخرى التي تحصل عليها أثناء استخدامك لموقعنا أو نشرك لأي محتوى من خلاله، أو على المواقع الإلكترونية المرتبطة به.
            كما لن نتحمل مسؤولية مضمون محتوى المواقع الإلكترونية المرتبطة بموقعنا، يجب أن لا تُفسر روابط كهذه بأنها معتمدة لدينا. فلسنا مسؤولين عن أية خسارة أو ضرر ناتج عن تصفحك لها.

            <h5><br>
            القواعد السلوكية لاستخدام الإنترنت
            </h5><br>
            إنك توافق على مسؤولية استخدامك الخاص لموقعنا، وأي محتوى تقوم بتحميله، وأي تواصل مع المستخدمين الآخرين ومنشورات المستخدم الخاص بك (مشتملًا على كل ما تقوم أنت أو مستخدمون آخرون بإرساله أو نشره على موقعنا، كما توافق على استستخدامك لموقعنا ممتثلًا لهذه الشروط وكافة القوانين والقواعد والأنظمة المحلية والوطنية والدولية، بالإضافة إلى ذلك حقوق الطبع والنشر وقوانين نقل البيانات الفنية الصادرة عن بلد إقامتك.
            تتعهد بإمتثال استخدامك أو مساهمتك لهذه المعايير، وولائك لنا وتعويضنا عن أي إخلال يصدر منك بشأن تلك الشروط. مما يعني مسؤوليتك التامة في تعويض الأضرار الناتجة عن إخلالك بهذه الشروط.

            لا يجوز لك استخدام موقعنا لنقل أو بيع أي مواد إعلانية غير مجازة أو ممنوحة أو مواد ترويجية أو أي شكل من الأشكال التروجية الأخرى (رسائل عشوائية).
            لنا حق الإفصاح عن هويتك لأي طرف ثالث أو لسلطات قانونية أو حكومية تدَعي بأن أي محتوى تقوم بنشره او تحميله يشكل خرقا لحقوق الملكية الفكرية أو حق الخصوصية الخاص بها أو القانون المطبق.
            لا نتحمل مسؤولية دقة المحتوى المستخدم من قبلك أو من قبل أي طرف ثالث لموقعنا.
            يحق لنا حذف أي من مشاركاتك على موقعنا إذ لم تتوافق مع شروطنا.
            آراء مستخدمي موقعنا لا تعبر عن آرائنا ولا تمثل قيمنا.

            منح الصلاحية للمستخدمين الآخرين.
            بنشرك وتوزيعك لمشاركاتك، فإنك تمنح جمع مستخدمي موقعنا صلاحية غير حصرية للإطلاع على واستخدام مشاركاتك الخاصة واستغلالها لغاياته الشخصية.
            الفيروسات
            لا نضمن أن يكون موقعنا آمنا أو خاليا من الأخطاء أو الفيروسات.
            تتحمل مسؤولية ضبط المعلومات التكنلوجية الخاصة بك، وبرامج وأنظمة الحاسوب من أجل دخول موقعنا، واستخدام برامج الحماية من الفيروسات الخاصة بك.
            يُمنع إساءة استخدام موقعنا عمدًا بإدخال جميع أنواع الفيروسات بلا استثناء، كما يُمنع محاولة الدخول غير المصرح به والخادم الذي يُخزن موقعنا عليه أو أي خادم آخر أوحاسوب أو قاعدة بيانات تتعلق بموقعنا. يُمنع مهاجمة موقعنا بهجمات الحرمان من الخدمة أو نشر هذه الخدمات. سنقوم بالتبليغ عن أي محاولة لخرق هذه الشروط للسلطات القانونية المختصة والتعاون معها والكشف لها عن هويتك. في حال حدوث مثل هذه الإنتهاكات، فسيتم سلبك حقك استخدام موقعنا في الحال.
            <h5><br>
            التعليق والإنهاء
            </h5><br>
            سيُحدد وفقا لتقديرنا المطلق، ما إذا كان هناك إخلال لهذه الشروط أثناء استخدامكم لموقعنا.<br>
            عندما يتم الإخلال هذه الشروط، فسيتم إتخاذ الإجراء الذي نراه مناسبا:<br>
            الإيقاف الفوري أو المؤقت أو الدائم لحقك في استخدام موقعنا
            الحذف الفوري أو المؤقت أو الدائم لأي من المشاركات أو المواد تحملها التي تضيفها لموقعنا
            إصدار تحذير بحقكم؛
            تنفيذ الإجراءات القانونية بحقكم لتحمل جميع تكاليف التعويض (بما في ذلك، على سبيل المثال لا الحصر التكاليف الإدارية والقانونية) الناجمة الإخلال؛
            إتخاذ إجراءات قانونية إضافية بحقك؛ و
            كشف المعلومات للسلطات القضائية المسؤولة التي نؤمن بضرورتها.
            نُخلي مسؤوليتنا من الإجراءات المتبعة نتيجة الإخلال بشروط الاستخدام. ولا تقتصر تلك الإجرائات على ما جاء ذكره ضمن الشروط، بل يحق لنا اتخاذ أي إجراء آخر نراه مناسبًا في حدود المقبول.
            <h5><br>
            القانون المطبق
            </h5><br>
    يحكم القانون السعودي شروط الاستخدام هذه وموضوعها وتكوينها (وأية خلافات أو مطالبات غير تعاقدية). يوافق كلانا على أن محاكم المملكة العربية السعودية لها حق الولاية القضائية الحصرية


</div>

{%endblock%}