{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="form-design">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 text-center"  style="
                               background-color:  #396474;
                               color: #fff;
                               border-radius: 10px;">
                    
                    
                    
                    
                    إعادة تعيين كلمة المرور
                </legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">إعادة تعيين كلمة المرور</button>
            </div>
        </form>
    </div>
{% endblock content %}
