{% extends 'base.html'%}
{% load crispy_forms_tags%}



{% block content %}



   {% if messages %}
    {% for message in messages %}
    <div class="alert alert-{{message.tags}} text-center">
        {{message}}
    </div>
    {% endfor %}
    {% endif %}

<div class="container ">
      <div class=" profile-page "  style=" ">
        <div class="row" >
            <div class="col-md-3 text-center" >
                <img class="img-fluid rounded-circle border m-2"  width="120px" src="{{user.profile.image.url}}"
                    alt="صورة الناشر">
                <div class="mt-3">
                    <a class="btn btn-secondary bg-secondary" href="{% url 'profile_update'%}"><i class="fas fa-pen fa-xs"></i> تحرير </a>
                </div>
                   <div class="mt-3">
                    <a class="btn btn-secondary bg-secondary mb-3" href="{% url 'change-password'%}"><i class="fas fa-pen fa-xs"></i> تغيير كلمة المرور</a>
                </div>
            </div>
            <div class="col-m-9 text-right ">
                <h2 class="mb-4"> {{user.username}} </h2>
                <p class="font-weight-bold">الاسم: <span class="font-weight-normal">{{user.first_name}}
                        {{user.last_name}}</span></p>
                <p class="font-weight-bold">البريد الإلكتروني: <span class="font-weight-normal">{{user.email}}</span></p>
                <p class="font-weight-bold">الجوال: <span class="font-weight-normal">{{user.profile.mobile}}</span></p>



            </div>

        </div>
    </div>
 </div>

<!--_____________________________________________________________________________________________________-->


<!--_____________________________________________________________________________________________________-->




<div class="container d-flex justify-content-center ">
    <div class="row mb-5 profile-page "  
         >
        <div class="col-md text-center ">
            <h3 class="border-bottom pb-3 mb-4">عدد الأعمال المدرجة</h3>
            <h4 class=" text-center p-4 text-light" style="background-color: #a9c45e; border-radius: 10px;">
                {{topics_profil.count}}
            </h4>

            <h3 class="border-bottom mb-4 pb-3 mt-5">أعمالي</h3>
                       <div class="card-row">
                  <div class="row text-center justify-content-center">
                      {% for topic in topics_list %}
                
                    <div class="card ml-3 mb-4  topics-cards " style="width: 18rem;">
                        
                    <a href="{{topic.img_url}}" data-lightbox="mygallery" data-title="قرية المصممين">
                        <img src="{{topic.img_url}}" class="card-img-top" alt="..." style="cursor: zoom-in">
                     </a>
                        <div class="card-body ">
                        <h5 class="card-title pb-3 ">
                            <a href="{% url 'detail' topic.id%}">
                            
                            {{topic.title}} </a></h5>
                        </div>
                     
                    </div>
                       {% endfor %}
   

                  </div>
           </div>
            
            

<!--
                    <div class="card-row">
                      <div class="row text-center ">
                          {% for topic in topics_list %}

                        <div class="card ml-3 mb-4   topics-cards " style="width: 18rem;">

                        <a href="{% url 'detail' topic.id%}">
                            <img src="{{topic.img_url}}" class="card-img-top" alt="...">
                         </a>

                            <div class="card-body ">
                            <h5 class="card-title pb-3 "> {{topic.title}} </h5>
                            </div>
                             <div class="card-footer">
                              <small class="text-muted">{{topic.created_dt}}</small>
                             </div>
                        </div>
                           {% endfor %}


                      </div>
               </div>
-->


        </div>
    </div>
</div>
            {% include 'pagination.html' with page=topics_list %}
{%endblock%}