{% extends 'base.html'%}
{% load crispy_forms_tags%}


{% block content %}

<div class="container text-center mb-5 " >
  <div class="form-design">
            {% if messages %}
            {% for message in messages %}
            <div class="alert alert-{{message.tags}} text-center">
                {{message}}
            </div>
            {% endfor %}
            {% endif %}
        
       <div class="  content-section pt-4" >
        <form method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4 form-new-tpoic text-white">تعديل</legend>
<!--                {% include 'includes/form.html' %}-->
<!--                {% include 'form-template.html' %}-->
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit" value="Save">اضافة</button>
                <a class="btn btn-secondary " href="{% url 'detail' object.id %}">الغاء</a>
            </div>
        </form>
    </div>
   </div>
</div>
{%endblock%}